{% extends 'base.html' %}
{% load static %}
{% block title %}竞赛详情-科创竞赛管理系统{% endblock %}
{% block custom_bread %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/competition.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

    <section>
        <div class="col-md-8 col-md-offset-2 wp">
            <div class="crumbs">
                <ul>
                    <li><a href="{% url 'index' %}">首页</a>></li>
                    <li><a href="{% url 'competitions:competition_list' %}">竞赛列表</a>></li>
                    <li>竞赛报名</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class=" c-box bg-box">
            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 login-box clearfix">
                <div class="hd-login clearfix">
                    <h1>报名参加 {{ competition.name }}</h1>
                </div>

                <div class="fl form-box">
                    <form action="{% url 'competitions:competition_signup' competition.id %}" method="post" autocomplete="off">
                        <input type='hidden' name='csrfmiddlewaretoken' value='mymQDzHWl2REXIfPMg2mJaLqDfaS1sD5'/>
                        <div class="form-group marb20  {% if signup_form.errors.name %}errorput {% endif %} ">
                            <label>队&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                            <input name="name" id="name" type="text" placeholder=""
                                   value="{{ signup_form.name.value }}"/>
                        </div>
                        <div class="form-group marb8 {% if signup_form.errors.students %}errorput {% endif %}">
                            <label>队&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;员</label>
                            <input name="students" id="students" type="text" placeholder=""
                                   value="{{ signup_form.students.value }}"/>
                        </div>
                        <div class="form-group marb8 {% if signup_form.errors.teacher %}errorput {% endif %}">
                            <label>指导教师</label>
                            <input name="teacher" id="teacher" type="text" placeholder=""
                                   value="{{ signup_form.teacher.value }}"/>
                        </div>
                        <div class="error btns login-form-tips" id="jsLoginTips">
                            {% for key,error in login_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
                        <div class="auto-box marb38">

                            <a class="fr" href="{% url 'forget_pwd' %}">忘记密码？</a>
                        </div>
                        <input class="btn btn-green" id="jsLoginBtn" type="submit" value="立即报名 > "/>
                        {% csrf_token %}
                    </form>
                    <p class="form-p">没有科创竞赛管理系统帐号？<a href="{% url 'register' %}">[立即注册]</a></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="col-md-8 col-md-offset-2 wp">
            <div class="groupPurchase_detail detail">
                <div class="toppro">
                    <div class="leftt">
                        <div class="des">
                            <div class="com-head">
                                <h1 title="{{ competition.name }}">{{ competition.name }}</h1>
                                <span class="key">{{ competition.desc }}</span>
                            </div>
                            <div class="prize">
                                <span class="fl">等级：<i class="key">{{ competition.get_level_display }}</i></span>
                                <span class="f">点击量：{{ competition.click_nums }}</span>
                                <span class="fr">参加人数：{{ competition.students }}</span>
                            </div>
                            <hr class="com_hr">
                            <ul class="parameter">
                                <li><span class="pram word3">开始时间：</span><span>{{ competition.start_date }}</span></li>
                                <li><span class="pram word3">结束时间：</span><span>{{ competition.end_date }}</span></li>
                                <li><span class="pram word3">竞赛类别：</span><span
                                        title="">{{ competition.category }}</span></li>
                            </ul>
                            <div class="btns">
                                <div class="btn colectgroupbtn" id="jsLeftBtn">
                                    {% if has_fav_competition %}已{% endif %}收藏
                                </div>
                                <div class="buy btn"><a style="color: white" href="">报名参加</a></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="col-md-8 col-md-offset-2 wp">
            <div class="list groupPurchase_detail_pro">
                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active">竞赛详情</li>
                        </ul>
                    </div>
                    <div class="tab_cont tab_cont1">
                        {{ competition.detail }}
                    </div>
                    <div class="tab_cont tab_cont2">
                        <div class="comment">
                            <div class="comenlist">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-8 col-md-offset-2 wp">
        <div class="list" style="margin-top:0;">
            <div class="right layout">
                <div class="head">
                    <ul class="tab_header">
                        <li class="active">相关竞赛推荐</li>
                    </ul>
                </div>
                <div class="group_recommend">
                    {% for relate_competition in relate_competitions %}
                        <dl>
                            <dd>
                                <a target="_blank"
                                   href="{% url 'competitions:competition_detail' relate_competition.id %}">
                                    <h2>{{ relate_competition.name }}</h2></a>
                                <span class="fl">参加人数：<i
                                        class="key">{{ relate_competition.students }}</i></span>
                            </dd>
                        </dl>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        //收藏分享
        function add_fav(current_elem, fav_id) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'competitions:add_fav' %}",
                data: {'fav_id': fav_id},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'fail') {
                        if (data.msg === '用户未登录') {
                            window.location.href = "{% url 'login' %}";
                        } else {
                            alert(data.msg)
                        }

                    } else if (data.status === 'success') {
                        current_elem.text(data.msg)
                    }
                },
            });
        }

        $('#jsLeftBtn').on('click', function () {
            add_fav($(this), {{ competition.id }});
        });
    </script>
{% endblock %}