{% extends 'base.html' %}
{% load static %}
{% block title %}科创竞赛管理系统{% endblock %}
{% block custom_bread %}{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="banner">
        <div class="wp">
            <div class="fl">
                <div class="imgslide">
                    <ul class="imgs">
                        {% for banner in all_banners %}
                            <li>
                                <a href="{{ banner.url }}">
                                    <img width="1200" height="478"
                                         src="{{ MEDIA_URL }}{{ banner.image }}"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="unslider-arrow prev"></div>
                <div class="unslider-arrow next"></div>
            </div>
        </div>
    </div>
    <!--feature start-->
    <section>
        <div class="wp">
            <ul class="feature">
                <li class="feature1">
                    <img class="pic" src="/static/images/feature1.png"/>
                    <p class="center">专业权威</p>
                </li>
                <li class="feature2">
                    <img class="pic" src="/static/images/feature2.png"/>
                    <p class="center">课程最新</p>
                </li>
                <li class="feature3">
                    <img class="pic" src="/static/images/feature3.png"/>
                    <p class="center">名师授课</p>
                </li>
                <li class="feature4">
                    <img class="pic" src="/static/images/feature4.png"/>
                    <p class="center">数据真实</p>
                </li>
            </ul>
        </div>
    </section>
    <!--feature end-->
    <!--module1 start-->
    <section>
        <div class="module">
            <div class="wp">
                <h1>竞赛信息</h1>
                <div class="module1 eachmod">
                    <div class="module1_1 left">
                        <img width="228" height="614" src="/static/images/module1_1.jpg"/>
                        <p class="fisrt_word">名师授课<br/>专业权威</p>
                        <a class="more" href="{% url 'competitions:competition_list' %}">查看更多竞赛 ></a>
                    </div>
                    <div class="right group_list">
                        <div class="module1_2 box">
                            <div class="imgslide2">
                                <ul class="imgs">
                                    {% for banner_competition in banner_competitions %}
                                        <li>
                                            <a href="{% url 'competitions:competition_detail' banner_competition.id %}">
                                                <img width="470" height="300"
                                                     src="/static/media/courses/2016/12/python文件处理.jpg"/>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="unslider-arrow2 prev"></div>
                            <div class="unslider-arrow2 next"></div>
                        </div>
                        {% for competition in competitions %}
                            <div class="module1_{{ forloop.counter|add:2 }} box">
                                <div class="des">
                                    <a href="{% url 'competitions:competition_detail' competition.id %}">
                                        <h2 title="django入门">{{ competition.name }}</h2>
                                    </a>
                                    <span class="fl">级别：<i class="key">{{ competition.get_level_display }}</i></span>
                                    <span class="fr">参加人数：{{ competition.students }}&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <span class="star fr">{{ competition.fav_nums }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if request.user.is_authenticated %}
    <section>
        <div class="module">
            <div class="wp">
                <h1>排名信息</h1>
                <div class="module1 eachmod">
                    <div class="module1_1 left">
                        <img width="228" height="614" src="/static/images/module1_1.jpg"/>
                        <p class="fisrt_word">我的积分:<br/>{{ request.user.get_score }}</p>
                        <a class="more" href="{% url 'competitions:competition_list' %}">查看更多竞赛 ></a>
                    </div>
                    <div class="right group_list">
                        {% for student in top100_students %}
                            <h1>#{{ forloop.counter }}姓名:{{ student.last_name }}{{ student.first_name }}    积分：{{ student.get_score }}</h1>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}


