.module .right {
    width: 100%;
    height: auto;
    float: right;
}

.module .eachmod {
    /*margin: 30px 0;*/
    /* margin: 30px 0; */
    padding: 0 20px;
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
}

.compe{
    margin: 10px;
    /*margin: auto;*/
    /* width: 100px; */
    font-size: large;
    line-height: 50px;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    float: left;
    color: #00000080;
}

.module .more {
       float: right;
    margin: 10px;
    border: 1px solid #79554857;
    display: block;
    width: 96px;
    height: 30px;
    line-height: 30px;
    color: #795548d4;
    text-align: center;
    /* position: absolute; */
    left: 50%;
    margin-left: -48px;
    top: 180px;
    position: static;
}

.module h1 {
    font-size: 15px;
    color: #333333b3;
}


.module .fisrt_word {
        margin: 10px;
    border: 1px solid #79554857;
    display: block;
    width: 96px;
    height: 30px;
    line-height: 30px;
    color: #795548d4;
    text-align: center;
    /* position: absolute; */
    left: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -48px;
    top: 180px;
    position: static;
    font-size: 15px;
    width: auto;
    float: right;
}
.scoretable{
    width: 80%;
    margin-top: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #7955483d;
    text-align: center;
}

.scoretable tr{
          padding: 5px;
    line-height: 30px;
    border-style: groove;
    border-color: #79554830;
}